.body-base {
    --dark_gray: RGBA(45, 45, 48, 0.88);
    --black: RGBA(33, 33, 35, 0.95);
    --orange: RGBA(255, 69, 0, 0.88);
    --light_gray: RGBA(40, 40, 42, 0.8);
    --white_bg: RGBA(205, 205, 244, 0.8);
    --white_gray: RGBA(197, 197, 225, 0.88);
    --whitish: RGBA(165, 165, 195, 0.95);
    background-color: var(--dark_gray);
    color: white;
    font-family: 'Roboto', serif;
    padding: 0;
    margin: 0;
}

.body-light {
    background-color: var(--white_bg);
    color: #141414;
}

h1, h2, h3 {
    font-family: 'Titillium Web', sans-serif;;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 6fr 105px;
    height: 100vh;
    grid-template-areas: 
        "header"
        "sidebar"
        "content"
        "footer";
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    background-color: var(--black);
    border-bottom: 2px solid var(--orange);
    margin-bottom: 5px;
}

.sidebar {
    background-color: var(--dark_gray);
    grid-area: sidebar;
    margin: 4px;
    border-radius: 10px;
}

.sidebar li {
    display: inline;
    padding: 5px;
}

.sidebar > h2 {
    margin-left: 10px;
}

.main {
    grid-area: content;
    background-color: var(--dark_gray);
    margin: 4px;
    border-radius: 10px;
}

.mainside-light {
    background-color: var(--white_gray);
}

.top-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.textarea {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 10px;
}

.main-text {
    width: 85%;
    height: 50%;
    background-color: var(--light_gray);
    border: 1px solid var(--light_gray);
    color: white;
    border-radius: 10px;
    font-family: 'Roboto', serif;
}

.light-text {
    background-color: var(--whitish);
    border: 1px solid var(--whitish);
    color: #070707;
}

.bottom-buttons {
    display: flex;
    justify-content: center;
}

.btn {
    color: white;
    background-color: #FF4500;
    font-family: 'Roboto', serif;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    margin: 10px;
}

.btn:hover {
    cursor: pointer;
    background-color: #ffae90;
    color: black
}

.footer {
    grid-area: footer;
    background-color: var(--black);
    border-top: 2px solid var(--orange);
    margin-top: 5px;
}

.headerfooter-light {
    background-color: var(--whitish);
}

.contact {
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: center;
    /* scale: 8%; */
}

.img {
    width: 3%;
    height: 3%;
    min-width: 30px;
    min-height: 30px;
}

@media screen and (min-width: 550px) {
    .wrap {
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-template-rows: 125px 1fr 125px;
        height: 100vh;
        grid-template-areas: 
            "header  header"
            "sidebar content"
            "footer  footer";
    }

    .sidebar {
        margin: 4px;
        border-radius: 10px;
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: 0;
    }

    .main {
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .top-buttons {
        display: unset;
    }

    .textarea {
        justify-content: left;
    }
}
